# Auto detect text files and perform LF normalization
* text=auto

#flutter_application_1 : todo list
#flutter_application_2 : hava durumu uygulaması
#flutter_application_3 : not defteri uygulaması
#flutter_application_4 : hesap makinesi
#flutter_application_5 : resim galerisi uygulaması